Import dependencies

In [40]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, when, lit
from pyspark.sql.types import StructType, StructField, StringType, DateType, DoubleType
from pyspark.sql.functions import monotonically_increasing_id
!pip install psycopg2-binary
from sqlalchemy import create_engine

Requirement already satisfied: psycopg2-binary in c:\users\user\anaconda3\envs\enel-ml\lib\site-packages (2.9.10)

In [41]:
# initialize Spark session
spark = SparkSession.builder.appName("NugaBanksETL").getOrCreate()

In [42]:
spark

Data Extraction

In [43]:
nuga_banks_df = spark.read.csv(r'C:\Users\user\Desktop\nuga_bank_case_study\dataset\nuga_bank_transactions.csv', header=True, inferSchema=True)

In [44]:
nuga_banks_df.show(5)

+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|    Transaction_Date|Amount|Transaction_Type| Customer_Name|    Customer_Address|     Customer_City|Customer_State|    Customer_Country|             Company|           Job_Title|               Email|       Phone_Number|Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|Group|Is_Active|        Last_Updated|         Description|Gender|Marital_Status|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
|2024-03-23 15:38:...| 34.76|      Withdrawal|    James Neal|54912 Holmes Lodg...| West Keithborough|       Florida|                Togo|Benson, Johnson a...|                NULL|                NULL|  493.720.6609x7545|  3592901394693441|GB98RBPP090285271...|          MAD|       3167.0|       C|    Z|       No|2020-06-20 03:04:...|Yeah food anythin...| Other|      Divorced|
|2024-04-22 19:15:...|163.92|      Withdrawal|   Thomas Long| 1133 Collin Passage|        Joshuabury|   Connecticut|Lao People's Demo...|                NULL|   Food technologist|michellelynch@exa...|      (497)554-3317|              NULL|GB03KFZR339662263...|          VEF|       2122.0|       B|    Z|     NULL|2020-12-27 13:23:...|Teach edge make n...|Female|       Married|
|2024-04-12 19:46:...|386.32|      Withdrawal|Ashley Shelton|5297 Johnson Port...|       North Maria|    New Jersey|              Bhutan|       Jones-Mueller|Database administ...| ljordan@example.org|      (534)769-3072|      675983949974|GB59QYRN446730519...|          COP|       7796.0|       C|    Z|       No|2020-01-24 01:23:...|Again line face c...| Other|          NULL|
|2024-04-17 15:29:...|407.15|         Deposit| James Rosario|56955 Moore Glens...|North Michellefurt|    New Mexico|             Iceland|       Vargas-Harris|Horticultural the...|parkerjames@examp...|+1-447-900-1320x257|     4761202519057|GB74FTDO268299438...|          BWP|       6284.0|       C|    Z|      Yes|2023-09-27 03:01:...|     Bag my a drive.|  NULL|          NULL|
|2024-02-10 01:51:...|161.31|         Deposit|Miguel Leonard|262 Beck Expressw...|              NULL| West Virginia|             Eritrea|Richardson, Gonza...|   Minerals surveyor| zweaver@example.net|               NULL|   213156729655186|GB94EWRN587847592...|          SOS|       9179.0|       C|    Y|       No|2022-01-22 19:08:...|Husband find ok w...|Female|       Married|
+--------------------+------+----------------+--------------+--------------------+------------------+--------------+--------------------+--------------------+--------------------+--------------------+-------------------+------------------+--------------------+-------------+-------------+--------+-----+---------+--------------------+--------------------+------+--------------+
only showing top 5 rows

In [45]:
nuga_banks_df.printSchema()

root
 |-- Transaction_Date: timestamp (nullable = true)
 |-- Amount: double (nullable = true)
 |-- Transaction_Type: string (nullable = true)
 |-- Customer_Name: string (nullable = true)
 |-- Customer_Address: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_State: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Job_Title: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Phone_Number: string (nullable = true)
 |-- Credit_Card_Number: long (nullable = true)
 |-- IBAN: string (nullable = true)
 |-- Currency_Code: string (nullable = true)
 |-- Random_Number: double (nullable = true)
 |-- Category: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- Is_Active: string (nullable = true)
 |-- Last_Updated: timestamp (nullable = true)
 |-- Description: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Marital_Status: string (nullable = true)

In [46]:
# Data transformation

nuga_banks_df.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [47]:
# no of rows and columns
num_rows = nuga_banks_df.count()
num_cols = len(nuga_banks_df.columns)

num_rows, num_cols

(1000000, 23)

In [48]:
# checking for null values
for col in nuga_banks_df.columns:
    print(col, 'Nulls', nuga_banks_df.filter(nuga_banks_df[col].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 100425
Customer_Address Nulls 100087
Customer_City Nulls 100034
Customer_State Nulls 100009
Customer_Country Nulls 100672
Company Nulls 100295
Job_Title Nulls 99924
Email Nulls 100043
Phone_Number Nulls 100524
Credit_Card_Number Nulls 100085
IBAN Nulls 100300
Currency_Code Nulls 99342
Random_Number Nulls 99913
Category Nulls 100332
Group Nulls 100209
Is_Active Nulls 100259
Last_Updated Nulls 100321
Description Nulls 100403
Gender Nulls 99767
Marital_Status Nulls 99904

In [49]:
# fill up null values
nuga_banks_df_cleaned = nuga_banks_df.fillna({
    'Customer_Name': 'unknown',
    'Customer_Address': 'unknown',
    'Customer_State': 'unknown',
    'Customer_City': 'unknown',
    'Customer_Country': 'unknown',
    'Company': 'unknown',
    'Job_Title': 'unknown',
    'Email': 'unknown',
    'Phone_Number': 'unknown',
    'Credit_Card_Number': 0,
    'IBAN': 'unknown',
    'Currency_Code': 'unknown',
    'Random_Number': 0.0,
    'Category': 'unknown',
    'Group': 'unknown',
    'Is_Active': 'unknown',
    'Description': 'unknown',
    'Gender': 'unknown',
    'Marital_Status': 'unknown'
    
})

In [50]:
# checking for null values
for col in nuga_banks_df_cleaned.columns:
    print(col, 'Nulls', nuga_banks_df_cleaned.filter(nuga_banks_df_cleaned[col].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0
Last_Updated Nulls 100321
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [51]:
# drop null values left
nuga_banks_df_cleaned = nuga_banks_df_cleaned.dropna(subset=['Last_Updated'])

In [52]:
# checking for null values
for col in nuga_banks_df_cleaned.columns:
    print(col, 'Nulls', nuga_banks_df_cleaned.filter(nuga_banks_df_cleaned[col].isNull()).count())

Transaction_Date Nulls 0
Amount Nulls 0
Transaction_Type Nulls 0
Customer_Name Nulls 0
Customer_Address Nulls 0
Customer_City Nulls 0
Customer_State Nulls 0
Customer_Country Nulls 0
Company Nulls 0
Job_Title Nulls 0
Email Nulls 0
Phone_Number Nulls 0
Credit_Card_Number Nulls 0
IBAN Nulls 0
Currency_Code Nulls 0
Random_Number Nulls 0
Category Nulls 0
Group Nulls 0
Is_Active Nulls 0
Last_Updated Nulls 0
Description Nulls 0
Gender Nulls 0
Marital_Status Nulls 0

In [53]:
# no of rows and columns
num_rows = nuga_banks_df_cleaned.count()
num_cols = len(nuga_banks_df_cleaned.columns)

num_rows, num_cols

(899679, 23)

In [54]:
# To view the summary statistics of the DataFrame
nuga_banks_df_cleaned.describe().show()

+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+-------+---------+--------------------+-------+--------------+
|summary|            Amount|Transaction_Type|Customer_Name|    Customer_Address|Customer_City|Customer_State|Customer_Country|     Company|         Job_Title|              Email|        Phone_Number|  Credit_Card_Number|                IBAN|Currency_Code|     Random_Number|Category|  Group|Is_Active|         Description| Gender|Marital_Status|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+-------+---------+--------------------+-------+--------------+
|  count|            899679|          899679|       899679|              899679|       899679|        899679|          899679|      899679|            899679|             899679|              899679|              899679|              899679|       899679|            899679|  899679| 899679|   899679|              899679| 899679|        899679|
|   mean|505.10367708927123|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL| 6.002851385999521E9|3.409662226750519...|                NULL|         NULL| 4952.920380491264|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
| stddev|285.79453433004704|            NULL|         NULL|                NULL|         NULL|          NULL|            NULL|        NULL|              NULL|               NULL|2.3068371038619432E9|1.189655005733003...|                NULL|         NULL|2966.5434011516036|    NULL|   NULL|     NULL|                NULL|   NULL|          NULL|
|    min|              10.0|         Deposit| Aaron Abbott|000 Aaron Landing...|    Aaronberg|       Alabama|     Afghanistan|Abbott Group|Academic librarian|aabbott@example.com|       (200)201-4254|                   0|GB02AAAU191993009...|          AED|               0.0|       A|      X|       No|A American and to...| Female|      Divorced|
|    max|            1000.0|      Withdrawal|      unknown|             unknown|      unknown|       unknown|         unknown|     unknown|           unknown|zzuniga@example.org|             unknown| 4999984361512569455|             unknown|      unknown|            9999.0| unknown|unknown|  unknown|             unknown|unknown|       unknown|
+-------+------------------+----------------+-------------+--------------------+-------------+--------------+----------------+------------+------------------+-------------------+--------------------+--------------------+--------------------+-------------+------------------+--------+-------+---------+--------------------+-------+--------------+

In [55]:
nuga_banks_df_cleaned.columns

['Transaction_Date',
 'Amount',
 'Transaction_Type',
 'Customer_Name',
 'Customer_Address',
 'Customer_City',
 'Customer_State',
 'Customer_Country',
 'Company',
 'Job_Title',
 'Email',
 'Phone_Number',
 'Credit_Card_Number',
 'IBAN',
 'Currency_Code',
 'Random_Number',
 'Category',
 'Group',
 'Is_Active',
 'Last_Updated',
 'Description',
 'Gender',
 'Marital_Status']

In [56]:
# Transaction table
transaction = nuga_banks_df_cleaned.select('Transaction_Date', 'Transaction_Type', 'Amount')
transaction.show()

+--------------------+----------------+------+
|    Transaction_Date|Transaction_Type|Amount|
+--------------------+----------------+------+
|2024-03-23 15:38:...|      Withdrawal| 34.76|
|2024-04-22 19:15:...|      Withdrawal|163.92|
|2024-04-12 19:46:...|      Withdrawal|386.32|
|2024-04-17 15:29:...|         Deposit|407.15|
|2024-02-10 01:51:...|         Deposit|161.31|
|2024-02-10 22:56:...|        Transfer|764.34|
|2024-04-07 00:07:...|         Deposit|734.59|
|2024-03-08 01:51:...|         Deposit|592.43|
|2024-02-01 12:34:...|         Deposit| 927.1|
|2024-03-22 16:46:...|        Transfer| 66.59|
|2024-04-23 13:30:...|      Withdrawal| 246.3|
|2024-01-13 01:22:...|      Withdrawal|782.32|
|2024-02-25 15:16:...|      Withdrawal|818.42|
|2024-01-01 20:55:...|      Withdrawal|352.23|
|2024-01-19 00:01:...|      Withdrawal|316.19|
|2024-04-09 14:40:...|      Withdrawal|662.26|
|2024-04-15 04:58:...|         Deposit|893.73|
|2024-04-12 14:32:...|      Withdrawal|746.22|
|2024-02-26 14:43:...|      Withdrawal|214.77|
|2024-01-17 14:50:...|      Withdrawal|726.94|
+--------------------+----------------+------+
only showing top 20 rows

In [57]:
# Adding the 'Transaction_ID' column
transaction = transaction.withColumn("Transaction_id", monotonically_increasing_id())

In [58]:
transaction.show()

+--------------------+----------------+------+--------------+
|    Transaction_Date|Transaction_Type|Amount|Transaction_id|
+--------------------+----------------+------+--------------+
|2024-03-23 15:38:...|      Withdrawal| 34.76|             0|
|2024-04-22 19:15:...|      Withdrawal|163.92|             1|
|2024-04-12 19:46:...|      Withdrawal|386.32|             2|
|2024-04-17 15:29:...|         Deposit|407.15|             3|
|2024-02-10 01:51:...|         Deposit|161.31|             4|
|2024-02-10 22:56:...|        Transfer|764.34|             5|
|2024-04-07 00:07:...|         Deposit|734.59|             6|
|2024-03-08 01:51:...|         Deposit|592.43|             7|
|2024-02-01 12:34:...|         Deposit| 927.1|             8|
|2024-03-22 16:46:...|        Transfer| 66.59|             9|
|2024-04-23 13:30:...|      Withdrawal| 246.3|            10|
|2024-01-13 01:22:...|      Withdrawal|782.32|            11|
|2024-02-25 15:16:...|      Withdrawal|818.42|            12|
|2024-01-01 20:55:...|      Withdrawal|352.23|            13|
|2024-01-19 00:01:...|      Withdrawal|316.19|            14|
|2024-04-09 14:40:...|      Withdrawal|662.26|            15|
|2024-04-15 04:58:...|         Deposit|893.73|            16|
|2024-04-12 14:32:...|      Withdrawal|746.22|            17|
|2024-02-26 14:43:...|      Withdrawal|214.77|            18|
|2024-01-17 14:50:...|      Withdrawal|726.94|            19|
+--------------------+----------------+------+--------------+
only showing top 20 rows

In [59]:
# Reordering the columns
transaction = transaction.select("Transaction_id", "Transaction_Date", "Amount", "Transaction_Type")
transaction.show()

+--------------+--------------------+------+----------------+
|Transaction_id|    Transaction_Date|Amount|Transaction_Type|
+--------------+--------------------+------+----------------+
|             0|2024-03-23 15:38:...| 34.76|      Withdrawal|
|             1|2024-04-22 19:15:...|163.92|      Withdrawal|
|             2|2024-04-12 19:46:...|386.32|      Withdrawal|
|             3|2024-04-17 15:29:...|407.15|         Deposit|
|             4|2024-02-10 01:51:...|161.31|         Deposit|
|             5|2024-02-10 22:56:...|764.34|        Transfer|
|             6|2024-04-07 00:07:...|734.59|         Deposit|
|             7|2024-03-08 01:51:...|592.43|         Deposit|
|             8|2024-02-01 12:34:...| 927.1|         Deposit|
|             9|2024-03-22 16:46:...| 66.59|        Transfer|
|            10|2024-04-23 13:30:...| 246.3|      Withdrawal|
|            11|2024-01-13 01:22:...|782.32|      Withdrawal|
|            12|2024-02-25 15:16:...|818.42|      Withdrawal|
|            13|2024-01-01 20:55:...|352.23|      Withdrawal|
|            14|2024-01-19 00:01:...|316.19|      Withdrawal|
|            15|2024-04-09 14:40:...|662.26|      Withdrawal|
|            16|2024-04-15 04:58:...|893.73|         Deposit|
|            17|2024-04-12 14:32:...|746.22|      Withdrawal|
|            18|2024-02-26 14:43:...|214.77|      Withdrawal|
|            19|2024-01-17 14:50:...|726.94|      Withdrawal|
+--------------+--------------------+------+----------------+
only showing top 20 rows

In [60]:
# Customer table
customer = nuga_banks_df_cleaned.select('Customer_Name', 'Customer_Address', 'Customer_State', 'Customer_City', 'Customer_Country', 'Email', 'Phone_Number').distinct()
customer = customer.withColumn("Customer_id", monotonically_increasing_id())
customer = customer.select("Customer_id", "Customer_Name", "Customer_Address", "Customer_State", "Customer_City", "Customer_Country", "Email", "Phone_Number")
customer.show()

+-----------+------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+
|Customer_id|     Customer_Name|    Customer_Address|Customer_State|       Customer_City|    Customer_Country|               Email|        Phone_Number|
+-----------+------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+
|          0|    Allen Castillo|   5750 Vanessa Neck|North Carolina|     New Vickiemouth|              Zambia|             unknown|  732.974.7438x89666|
|          1|        Tina Jones|28150 Kelsey Stat...|          Iowa|             unknown|               Qatar|gabriellemoore@ex...|    736.645.3977x275|
|          2|    Michael Murphy|894 Williams Ridg...|      New York|       Dominguezview|              Sweden|kristinstanley@ex...|+1-693-739-2204x8851|
|          3|       Brian Glenn|505 Mcdowell Gard...|  South Dakota|South Christinech...|             Lesotho|bcabrera@example.net|001-962-928-1897x...|
|          4|      Jennifer Liu|07805 Taylor Lock...|       Wyoming|          South Lisa|             unknown|fergusonjustin@ex...|   688.888.9882x6972|
|          5|           unknown|638 Collins Field...|      Arkansas|             unknown|             Armenia|pauladams@example...| +1-370-790-4769x506|
|          6|  Mr. John Burnett|400 Hudson Wells ...|      New York|             unknown|             unknown|kmitchell@example...|       (946)282-5147|
|          7|       Gary Archer| 0930 Michael Stream|North Carolina|            Boydport|Palestinian Terri...|kennethscott@exam...|       (713)965-2955|
|          8|         Erin Hood|             unknown|  South Dakota|         Johnsonland|             unknown|  yjones@example.org|        215-735-9369|
|          9|        Tommy Wood|             unknown|        Kansas|      Cameronborough|              Uganda|  rwells@example.com|          6289005739|
|         10|           unknown|    75803 Scott Mill|        Oregon|        Theresashire|  Dominican Republic|davidgarcia@examp...|    001-545-820-1419|
|         11|Mr. Gary Brooks II|   786 Mccarthy Fall|         Idaho|         Traceymouth|            Kiribati|ellislouis@exampl...|          8963308214|
|         12|    Julie Crawford|4531 Douglas Stre...|       Arizona|      Port Dianeside|Lao People's Demo...|             unknown|        473-295-8658|
|         13|    Zachary Grimes|42686 Jessica Loc...|      Virginia|           Johnshire|             Tunisia|vanessa93@example...|       (464)800-5827|
|         14|          Lee Lane|             unknown| New Hampshire|North Elizabethmouth|                Peru|danielsjoshua@exa...|001-849-803-1447x...|
|         15| Jessica Zimmerman|    15565 Reed Wells|       Florida|       East Johnland|                Chad|awilliams@example...|  664.840.4619x25293|
|         16|   Denise Johnston|98089 Kristen Roa...|    New Jersey|           South Amy|     Kyrgyz Republic|             unknown|    799-297-6013x169|
|         17|     Heidi Vazquez|5346 Gordon Shore...|     Wisconsin|          Briggsberg|             unknown| pobrien@example.org|          3294797221|
|         18|  Lindsey Thompson|7442 Sabrina Dam ...|     Wisconsin|            Ryantown|    Marshall Islands|             unknown|             unknown|
|         19|     Tammy Simmons|997 Flores Locks ...|      Nebraska|            Woodston|                Oman| udecker@example.com|+1-853-249-6586x8571|
+-----------+------------------+--------------------+--------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [61]:
# Employee table
employee = nuga_banks_df_cleaned.select( 'Company', 'Job_Title', 'Gender', 'Marital_Status').distinct()
employee = employee.withColumn("Employee_id", monotonically_increasing_id())
employee = employee.select("Employee_id", "Company", "Job_Title", "Gender", "Marital_Status")
employee.show()

+-----------+--------------------+--------------------+-------+--------------+
|Employee_id|             Company|           Job_Title| Gender|Marital_Status|
+-----------+--------------------+--------------------+-------+--------------+
|          0|Hill, Sharp and F...|             unknown| Female|      Divorced|
|          1|Schmidt, Morgan a...|     Engineer, water| Female|        Single|
|          2|Medina, Flores an...|             Curator| Female|       unknown|
|          3|         Bell-Murphy|Geographical info...|   Male|       unknown|
|          4|      Henry and Sons|Engineer, civil (...| Female|       Married|
|          5|             unknown|   Company secretary|unknown|      Divorced|
|          6|             unknown|Clinical embryolo...|   Male|        Single|
|          7|Carrillo, Schwart...| Solicitor, Scotland| Female|        Single|
|          8|         Olson-Lucas| Magazine journalist|   Male|      Divorced|
|          9|      Suarez-Terrell|            Best boy| Female|      Divorced|
|         10|         Stewart LLC|       Archaeologist|   Male|        Single|
|         11|        Lane-Maxwell|             unknown| Female|        Single|
|         12|       Collins-Clark|Producer, televis...| Female|      Divorced|
|         13|      Mcpherson-Gray|Biomedical scientist|   Male|      Divorced|
|         14|     Torres-Caldwell|Housing manager/o...| Female|       Married|
|         15|     Cobb-Valenzuela|  Arts administrator|  Other|       Married|
|         16|    Mullins and Sons|Television floor ...|  Other|       unknown|
|         17|Jenkins, Mcclure ...|Arts development ...| Female|      Divorced|
|         18|Gonzalez, Wilson ...|Scientist, resear...|unknown|      Divorced|
|         19|    Vasquez and Sons|         Pathologist|   Male|       Married|
+-----------+--------------------+--------------------+-------+--------------+
only showing top 20 rows

In [62]:
#Fact table
# Joining the tables to create the fact table
fact_table= nuga_banks_df_cleaned.join(transaction, ["Transaction_Date", "Amount", "Transaction_Type"], how='left') \
                                 .join(customer, ["Customer_Name", "Customer_Address", "Customer_State", "Customer_City", "Customer_Country", "Email", "Phone_Number"], how='left') \
                                 .join(employee, ["Company", "Job_Title", "Gender", "Marital_Status"], how='left')\
                                 .select("Transaction_id", "Customer_id", "Employee_id", "Credit_Card_Number", "IBAN", "Currency_Code", "Random_Number", "Category", "Group", "Is_Active", "Last_Updated", "Description")
fact_table.show()

+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|Transaction_id|Customer_id|Employee_id| Credit_Card_Number|                IBAN|Currency_Code|Random_Number|Category|  Group|Is_Active|        Last_Updated|         Description|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
|    8589934609|34359760117|      16975|4191948926153525351|GB33SCRV040476482...|          MRO|       4711.0|       C|unknown|       No|2023-03-30 22:09:...|Program dinner me...|
|   34359738375|34359808817|      58544|    180029146062238|GB17MTZS784426277...|          GIP|       5688.0|       A|unknown|  unknown|2021-02-23 05:57:...|Network quite sit...|
|   42949672961|      79314|      66570|   4596307291033331|GB59TAVO484072449...|          ERN|       7135.0|       B|      X|       No|2020-03-12 21:30:...|Education guess t...|
|   34359738369|51539673109|      60653|   5294843442634660|GB58EBSY417856278...|          CZK|       4989.0|       D|      X|      Yes|2023-08-26 23:10:...|             unknown|
|   17179869203|      38870|      29656|   4409990154098702|GB71EUPG537834141...|          BMD|       3872.0|       D|      Z|      Yes|2023-07-30 18:54:...|Color future chai...|
|            12|68719477342|       3371|   6011259703732723|GB34HWCA758164830...|          AFN|       4452.0|       C|unknown|       No|2023-07-09 08:03:...|Program sense arm...|
|            20|17179869184|        556|    213186454811670|GB77SPMZ984195063...|          SOS|       7610.0|       C|      X|       No|2021-04-15 13:30:...|Concern remember ...|
|   51539607557|60129634695|      80775|   4528940883612006|GB81QGNE734082085...|          CNY|          0.0|       C|      X|       No|2023-06-29 14:00:...|Purpose discover ...|
|   51539607554|51539699174|      77173|   3505644604415991|GB59AZPE020114645...|          KZT|       1584.0|       B|      Y|      Yes|2020-01-02 14:35:...|Shoulder call tho...|
|   34359738368|25769870402|      57005|      4559268055614|             unknown|          BBD|       5380.0|       D|      Y|       No|2024-04-16 14:15:...|Central improve q...|
|   17179869195|17179896943|      25519|   4430190123561392|GB92ISMX785349015...|          EUR|       6555.0| unknown|      X|       No|2022-02-11 20:06:...|Opportunity impac...|
|   51539607563|25769890348|      75662|     38505283075889|GB17YZXH351816198...|          AZN|       3069.0|       C|      Z|       No|2020-07-09 08:01:...|             unknown|
|   42949672975|25769880044|      64596|    378762791104606|GB12TDEU411341364...|          TMT|       3662.0| unknown|      X|       No|2023-12-16 02:57:...|Dinner business t...|
|   25769803793|51539653342|      46435|   3507299061122552|GB39RYZE502598773...|      unknown|       2953.0|       A|      X|  unknown|2021-10-16 19:00:...|Remember wish gue...|
|   17179869196|17179896360|      25993|                  0|GB78TOQA276294447...|          AFN|       7408.0|       A|      X|  unknown|2022-10-31 12:47:...|Wide indeed crime...|
|   42949672968|34359813444|      67075|       639099653953|GB56ECFE416331570...|          IRR|       9772.0|       D|      X|      Yes|2021-02-26 20:14:...|Shake up son want...|
|             1|60129555443|        555|                  0|GB03KFZR339662263...|          VEF|       2122.0|       B|      Z|  unknown|2020-12-27 13:23:...|Teach edge make n...|
|    8589934594|25769824641|       2880|4574320593631119960|GB36WJJH142360458...|          HNL|       8360.0|       D|      X|      Yes|2020-02-01 20:56:...|Sit those program...|
|   17179869184|42949707541|      14437|   6595377546938614|GB86CXBW307407359...|      unknown|       1817.0|       A|      Z|       No|2020-12-26 02:14:...|Will outside spec...|
|   42949672971|34359817928| 8590000355|                  0|GB24QWDI193209807...|          SEK|       9356.0|       C|      X|  unknown|2023-07-18 21:11:...|Message interview...|
+--------------+-----------+-----------+-------------------+--------------------+-------------+-------------+--------+-------+---------+--------------------+--------------------+
only showing top 20 rows

In [63]:
# output the transformed data to parquet
#transaction.write.mode('overwrite').parquet(r'dataset/transaction')
#customer.write.mode('overwrite').parquet(r'dataset/customer')
#employee.write.mode('overwrite').parquet(r'dataset/employee')
#fact_table.write.mode('overwrite').parquet(r'dataset/fact_table')

In [64]:
# output the transformed data as csv
#transaction.repartition(1).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/transaction')
#customer.repartition(1).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/customer')
#employee.repartition(1).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/employee')
#fact_table.repartition(1).write.mode('overwrite').option('header', 'true').csv(r'dataset/transformeddata/csv/fact_table')

In [65]:
# Convert spark df to pandas df
transaction_pd_df = transaction.toPandas()
customer_pd_df = customer.toPandas()
employee_pd_df = employee.toPandas()
fact_table_pd_df = fact_table.toPandas()

In [79]:
!pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\user\anaconda3\envs\enel-ml\lib\site-packages (1.1.1)

In [81]:
from dotenv import load_dotenv
import os

# Load environment variables from the .env file
load_dotenv()

# Assign values from .env to db_params dictionary
db_params = {
    'username': os.getenv('DB_USERNAME'),
    'password': os.getenv('DB_PASSWORD'),
    'host': os.getenv('DB_HOST'),
    'port': os.getenv('DB_PORT'),
    'database': os.getenv('DB_NAME')
}


print(db_params)

{'username': 'postgres', 'password': 'Students28', 'host': 'localhost', 'port': '5432', 'database': 'nuga_bank'}

In [68]:

# define the database connection url with db parameters
db_url = f"postgresql://{db_params['username']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

# Create the database engine with the  db url
engine = create_engine(db_url)

# Connect to PostgreSQL server
with engine.connect() as connection:
    # Create tables and load the data
    transaction_pd_df.to_sql('transaction', connection, index=False, if_exists='replace')
    customer_pd_df.to_sql('customer', connection, index=False, if_exists='replace')
    employee_pd_df.to_sql('employee', connection, index=False, if_exists='replace')
    fact_table_pd_df.to_sql('fact_table', connection, index=False, if_exists='replace')

print('Database, tables and data loaded successfully ')

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: FATAL:  password authentication failed for user "postgres"

(Background on this error at: https://sqlalche.me/e/20/e3q8)